<html>
    <center>
        <form action="/movies/edit_picture" method="post" enctype="multipart/form-data">
        <h1><%=data.moviename%></h1>
        <img src="/images/<%=data.picture%>" width="300"><br>
        <b>Select New Image you want to upload..</b><br><br>
        <input required type="file" name="moviepicture"><br><br>
        <input type="hidden" name="movieid" value="<%=data.movieid %>"><br>
        <input type="submit" value="Upload New Image">
        </form>

    </center>
</html>